body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f7fa;
  padding: 40px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.form-container {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  max-width: 650px;
  width: 100%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  border: 1px solid #e3e6ea;
  
}

.form-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #2c3e50;
  font-size: 26px;
  font-weight: 600;
  
}

label {
  display: block;
  margin: 16px 0 6px;
  font-weight: 600;
  color: #2c3e50;
  
}

input, textarea, select {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
  
}

input:focus, textarea:focus, select:focus {
  border-color: #1a73e8;
  outline: none;
  box-shadow: 0 0 0 2px rgba(26, 115, 232, 0.15);
  /* background-color: aqua; */
}

input[type="radio"] {
  width: auto;
  margin-right: 8px;
}

.audience-options {
  display: flex;
  gap: 30px;
  margin-top: 8px;
  font-size: 14px;
}

button {
  margin-top: 25px;
  width: 100%;
  padding: 14px;
  background-color: #131c29;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #155ab6;
}


