/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Navbar Styling */
.navbar {
  background-color:#f5f5f5;
  padding: 20px 0;
  padding-bottom: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  /* position: sticky; */
  top: 0;
  z-index: 999;
  
}
.navbar__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__brand {
  font-size: 32px;
  font-weight: 700;
  font-family: 'Englebert', sans-serif;
  /* font-family: 'Arizonia', cursive; */
  /* color: #ffffff; */
  letter-spacing: 1px;
  position: relative;
  right: 10vh;
  
  /* background-color: aquamarine; */
  
}

/* main */
.main {
  padding: 20px ;
  font-family: Arial, sans-serif;
  /* background-color: black; */
  padding-top: 10vh;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 900px;
  margin: auto;
  /* background-color: bisque; */
  
}

.para1 {
  flex: 2;
  font-size: 2.5vh;
  line-height: 1.2;
  color: #333;
  /* background-color: aqua; */
  border-radius: 12px;
  position: relative;
  right: 10vh;
} 
.span{
  font-size: 40px;            /* Make the first word bigger */
  font-weight: 700;           /* Bold */
  font-family: 'Georgia', serif; /* Elegant and professional font */
  color: #1a1a1a;             /* Deep gray for readability */
  letter-spacing: 0.5px; 

}


.image1 {
  flex: 1;
  max-width: 400px;
  height: 290px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  
}
.para2{
  max-width: 1200px;
   /* flex: 2; */
  font-size: 2.5vh;
  /* line-height: 1.2; */
  color: #333;
  /* background-color: aqua; */
  border-radius: 12px;
  padding-left: 28vh;
  margin-top: 3vh;

}
.mid_head{
  font-size: 22px;
  font-weight: 600;
  margin: 40px 0 16px;
  color: #2c2c2c;
  border-left: 4px solid #999999;
  padding-left: 10px;
  font-family: sans-serif;
}


.card_grid{
  display: grid;
  
 grid-template-columns: repeat(2, 1fr); /* 2 columns */
 gap: 0px; /* space between cards */
/* margin-top: 25px; */
padding: 10vh 20vh;
/* background-color: #333; */
}

.card{}
 



.card:hover{
   transform: scale(1.02);
}


/* button */
 

.request_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.request_button a {
  text-decoration: none;
}

.request_button button {
  background-color: #333333; /* blue-600 */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.request_button button:hover {
  background-color: #555555; /* blue-700 */
  transform: translateY(-2px);
}

.request_button button:focus {
  outline: 2px solid #999999; /* blue-300 */
  outline-offset: 3px;
}










